.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-text {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgb(15, 15, 15);

}

.grey-text{
  color: #7a7b7e;
}

.card-img{
  opacity: 78%;
}

.title-text{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgb(60, 7, 65);
}

.title-text-med{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-shadow: 2px 2px 4px  rgb(15, 15, 15);
  margin-top: 87px;
}

.card-text1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-shadow: 2px 2px 4px  rgb(15, 15, 15);

}
.card-text-min{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-shadow: 2px 2px 4px  rgb(15, 15, 15);

}

.card-text-med{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  text-shadow: 2px 2px 4px  rgb(15, 15, 15);

}

.home-card{
  border: white;
  border-radius: 0%;
}

.turq-text{
  color: rgb(39, 243, 199);
}

.purple-text{
  color: rgb(226, 39, 243);
}

.row-text{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-shadow: 2px 2px 4px  rgb(39, 243, 199);
  
}

.detailed-card-text{
  background-color: rgb(60, 7, 65) !important;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px !important;
  text-shadow: 2px 2px 4px  rgb(15, 15, 15);

}

.detailed-card-text1{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px !important;
  text-shadow: 2px 2px 4px  rgb(15, 15, 15);

}

.detailed-card-text2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px !important;
  text-shadow: 2px 2px 4px  rgb(15, 15, 15);

}

.card-bg{
  background-color: rgb(60, 7, 65) !important ;
  background-image: url("/public/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

}

.container-bg{
  background-image: url("/public/doublebg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.carousel-text{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color:  rgb(15, 15, 15);
  text-shadow: 2px 2px 4px rgb(39, 243, 199);

}

.minicard-text{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color:  rgb(15, 15, 15);
  text-shadow: 2px 2px 4px rgb(197, 31, 108);

}

.minicard-text1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgb(255, 255, 255);

}


.footer-text{
  font-family: "Jersey 15", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 17px;
  color:  rgb(15, 15, 15);

}

.footer-text1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  color:  rgb(15, 15, 15);

}

.login-page{
  background-image: url("/public/loginpage.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container .card {
  background-color: rgba(87, 2, 90, 0.719) !important;  /* Un bel viola */
  color: rgba(20, 20, 20, 0.925);
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 50vh;
  border: none;
}

.login-title{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px !important;
  color:  rgb(255, 255, 255) !important;
  text-shadow: 2px 2px 4px  rgb(15, 15, 15);

}

.title-font{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 25px !important ;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px  rgb(15, 15, 15);

}

.login-button {
  font-size: 20px !important;
  font-family: "Jersey 15", sans-serif !important;
}

.custom-search {
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px !important ;
}

.search-font{
  font-family: "Jersey 15", sans-serif !important;
  font-size: 45px !important ;

}

.navbar-bg{
  background-color:  rgba(87, 2, 90, 0.719) !important;

}

.details-bg{
  background-image: url("/public/bg2.png"); ;
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

.details-text{
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 15px !important;
  text-justify: inter-word;
  text-align: justify;
}

.review-card-text{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px !important;
  color:  rgb(53, 51, 51) !important;
  text-shadow: 2px 2px 4px rgb(197, 31, 108);

}

.review-card-text1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color:  rgb(107, 107, 107);

}

.button-text2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color:  rgb(107, 107, 107);

}
.purple-paragraph {
  padding: 20px;
  margin-bottom: 8px;
  background-image: url("/public/bg2.png"); 
  color: rgb(29, 29, 29);
  text-shadow: 1px 1px 3px rgb(5, 194, 122);
}

.purple-paragraph ul {
  list-style-type: none;
  padding: 0;
}

.detailed-card-text3{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.detailed-card-text4{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.review-card-text1{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px !important;
  color:  rgb(255, 255, 255) !important;
  text-shadow: 2px 2px 4px rgb(197, 31, 108);

}

